launch.json
debug_custom.json
.theia
.vs
.vscode
output
fp-info-cache
*.kicad_prl
fp-lib-table
*.lck
Tiny4FSK-backups
.git
Code/Tiny4FSK/config.h
PCB + Schematic/Rev. 4/Tiny4FSK.kicad_sch-bak
PCB + Schematic/Production/panelizer.log
PCB + Schematic/Rev. 4/usbProgrammer/usbProgrammer-backups/usbProgrammer-2024-07-10_094318.zip
PCB + Schematic/Rev. 4/usbProgrammer/usbProgrammer-backups/usbProgrammer-2024-07-10_094937.zip
PCB + Schematic/Rev. 4/\#auto_saved_files\#
Code/Tiny4FSK/config.h
